node_modules/
dist/
.vite/
.DS_Store
Thumbs.db
smartsite-ai/venv/
smartsite-ai/__pycache__/
smartsite-ai/services/__pycache__/
smartsite-ai/dataset/
smartsite-ai/*.pt
smartsite-ai/runs/**
!smartsite-ai/runs/detect/
!smartsite-ai/runs/detect/train2/
!smartsite-ai/runs/detect/train2/weights/
!smartsite-ai/runs/detect/train2/weights/best.pt
